*{
    margin: 0;
    padding: 0;
}
.box1{
    background-image: url("photos/background1.jpg");
     height:80vh;
    background-size:max(1200px,100vw);
   background-position: center center;
   position:relative;
}
.logo1{
    display: flex;
     justify-content:space-between;
    margin: auto;
    align-items: center;
        max-width: 80vw;
    height: 62px;
}
.entery{
     height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
}
.theory{
    color: antiquewhite;
    font-size: larger;
}

.main{
    background-color: black;
    height: 900px;
    width: 1500px;
}